@font-face {
	font-family: "app-ic";
	src: url('../fonts/app-ic.eot');
	src: url('../fonts/app-ic.eot?#iefix') format('eot'),
		url('../fonts/app-ic.woff2') format('woff2'),
		url('../fonts/app-ic.woff') format('woff'),
		url('../fonts/app-ic.ttf') format('truetype'),
		url('../fonts/app-ic.svg#app-ic') format('svg');
}

@mixin icon-styles {
	font-family: "app-ic";
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	// speak: none; // only necessary if not using the private unicode range (firstGlyph option)
	text-decoration: none;
	text-transform: none;
}

%icon {
	@include icon-styles;
}

@function icon-char($filename) {
	$char: "";

	@if $filename == arrow-down-small {
		$char: "\E001";
	}
	@if $filename == arrow-down {
		$char: "\E002";
	}
	@if $filename == arrow-left {
		$char: "\E003";
	}
	@if $filename == arrow-right {
		$char: "\E004";
	}
	@if $filename == arrow-up-small {
		$char: "\E005";
	}
	@if $filename == arrow-up {
		$char: "\E006";
	}
	@if $filename == banners {
		$char: "\E007";
	}
	@if $filename == calendar {
		$char: "\E008";
	}
	@if $filename == close {
		$char: "\E009";
	}
	@if $filename == details {
		$char: "\E00A";
	}
	@if $filename == general {
		$char: "\E00B";
	}
	@if $filename == links {
		$char: "\E00C";
	}
	@if $filename == login {
		$char: "\E00D";
	}
	@if $filename == message {
		$char: "\E00E";
	}
	@if $filename == negative {
		$char: "\E00F";
	}
	@if $filename == notification {
		$char: "\E010";
	}
	@if $filename == password {
		$char: "\E011";
	}
	@if $filename == payout {
		$char: "\E012";
	}
	@if $filename == personaldata {
		$char: "\E013";
	}
	@if $filename == positive {
		$char: "\E014";
	}
	@if $filename == postback {
		$char: "\E015";
	}
	@if $filename == profile {
		$char: "\E016";
	}
	@if $filename == quit {
		$char: "\E017";
	}
	@if $filename == refresh {
		$char: "\E018";
	}
	@if $filename == show {
		$char: "\E019";
	}
	@if $filename == trash {
		$char: "\E01A";
	}
	@if $filename == url {
		$char: "\E01B";
	}
	@if $filename == wallet {
		$char: "\E01C";
	}

	@return $char;
}

@mixin icon($filename, $insert: before, $extend: true) {
	&:#{$insert} {
		@if $extend {
			@extend %icon;
		} @else {
			@include icon-styles;
		}
		content: icon-char($filename);
	}
}

.icon-arrow-down-small {
	@include icon(arrow-down-small);
}
.icon-arrow-down {
	@include icon(arrow-down);
}
.icon-arrow-left {
	@include icon(arrow-left);
}
.icon-arrow-right {
	@include icon(arrow-right);
}
.icon-arrow-up-small {
	@include icon(arrow-up-small);
}
.icon-arrow-up {
	@include icon(arrow-up);
}
.icon-banners {
	@include icon(banners);
}
.icon-calendar {
	@include icon(calendar);
}
.icon-close {
	@include icon(close);
}
.icon-details {
	@include icon(details);
}
.icon-general {
	@include icon(general);
}
.icon-links {
	@include icon(links);
}
.icon-login {
	@include icon(login);
}
.icon-message {
	@include icon(message);
}
.icon-negative {
	@include icon(negative);
}
.icon-notification {
	@include icon(notification);
}
.icon-password {
	@include icon(password);
}
.icon-payout {
	@include icon(payout);
}
.icon-personaldata {
	@include icon(personaldata);
}
.icon-positive {
	@include icon(positive);
}
.icon-postback {
	@include icon(postback);
}
.icon-profile {
	@include icon(profile);
}
.icon-quit {
	@include icon(quit);
}
.icon-refresh {
	@include icon(refresh);
}
.icon-show {
	@include icon(show);
}
.icon-trash {
	@include icon(trash);
}
.icon-url {
	@include icon(url);
}
.icon-wallet {
	@include icon(wallet);
}
