// loader
#loading{
  background-color: #bd4932;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 101;
  margin-top: 0px;
  top: 0px;
  transition: opacity .3s, z-index .1s linear .3s;

  &.hide{
    z-index: -1;
    opacity: 0;
  }
}

#loading-center{
  width: 100%;
  height: 100%;
  position: relative;
}
#loading-center-absolute {
  position: absolute;
  left: 50%;
  top: 50%;
  height: 200px;
  width: 200px;
  margin-top: -100px;
  margin-left: -100px;
}
#object{
  width: 80px;
  height: 80px;
  background-color: #FFF;
  -webkit-animation: animate 1s infinite ease-in-out;
  animation: animate 1s infinite ease-in-out;
  margin-right: auto;
  margin-left: auto;
  margin-top: 60px;
}
@-webkit-keyframes animate {
  0% { -webkit-transform: perspective(160px); }
  50% { -webkit-transform: perspective(160px) rotateY(-180deg); }
  100% { -webkit-transform: perspective(160px) rotateY(-180deg) rotateX(-180deg); }
}

@keyframes animate {
  0% {
    transform: perspective(160px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(160px) rotateX(0deg) rotateY(0deg);
  } 50% {
      transform: perspective(160px) rotateX(-180deg) rotateY(0deg);
      -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(0deg) ;
    } 100% {
        transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
        -webkit-transform: perspective(160px) rotateX(-180deg) rotateY(-180deg);
      }
}

// title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontMedium;
}
.page-title{
  @extend %title;
  text-transform: uppercase;
}
.section-title{
  @extend %title;
}

// container
.container{
  margin: 0 auto;

  &.sm{
    max-width: 684px;
  }
}

// table
.table{
  font-size: $tableFontSize;
  border-collapse: collapse;

  tbody{
    tr{
      transition: all .2s linear;

      &:hover{
        background-color: $tableTrHover;
        .hide-icons{
          opacity: 1;
        }
      }
      &:last-child{
        border-bottom: 1px solid $lightGrey;
      }
    }
  }

  td{
    padding: 22px 15px;
    border-top: 1px solid $lightGrey;


    .hide-icons{
      opacity: 0;
      transition: all .2s linear;
    }
  }
}

// buttons
.btn{
  padding: 10px 20px;
  border: none;
  font-weight: $fontLight;
  font-size: 18px;
  border-radius: 2px;
}
.btn.btn-default {
  background-color: $darkGrey;
  color: #fff;

  &:hover{
    background-color: $grey;
  }
}
.btn.btn-action {
  background-color: $orange;
  color: #fff;

  &:hover{
    background-color: $orangeLight;
  }
}
.btn.btn-disable {
  background-color: $lightGrey;
  color: #fff;
}

// inputs
.form-control{
  padding: 20px;
  border-radius: 2px;
  border-color: $lightGrey;
  font-family: $fontFamily;
  font-size: 12px;
  font-weight: $fontLight;
  color: $grey;
  box-shadow: none;

  &:focus{
    border-color: #bfbebe;
    box-shadow: none;
  }
}

// header
#header{
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  background-color: $headerBg;

  .user-control{
    position: relative;

    &.open{
      background-color: $xsLightGrey;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

      .account{
        color: $black;
      }

      .icon-arrow-down{
        display: inline-block;
        transform: rotate(180deg);
        line-height: 0;
      }
    }

    &:hover{
      background: $xsLightGrey;
    }

    span{
      margin: 0 20px 0 15px;
    }

    .icon-arrow-down{
      font-size: 12px;
    }
  }
  .notification{
    position: relative;

    &:hover{
      background: $xsLightGrey;
    }
  }
    .indicator{
      border-radius: 50%;
      background-color: $orange;
      height: 8px;
      width: 8px;
      position: absolute;
      top: 26%;
      left: 51%;
    }
  .user-account{

    .icon-profile{
      vertical-align: middle;
    }

    &:hover{
      background: $xsLightGrey;
    }

    .user-name{
      margin-left: 18px;
      color: $blue;
      font-size: 13px;
      font-weight: $fontLight;
      height: auto;
      line-height: 20px;
    }
  }
  .exit-account{

    &:hover{
      background: $xsLightGrey;
    }
  }
}

// aside
%activeLink{
  border-left-color: $orange;
  background-color: $activeLinkBg;
  color: $activeLinkColor;
}
#aside {
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;

  .menu-control {
    padding: 18px;

    .menu-btn {
      cursor: pointer;

      span {
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span {
          margin-top: 5px;
        }
      }
    }
  }
  .aside-menu {
    ul {
      li {
        color: $darkGrey;

        &.active {
          a {
            @extend %activeLink
          }
        }

        a {
          display: block;
          padding: 14px;
          border-left: 4px solid transparent;

          [class*='icon-'] {
            font-size: 17px;
            margin-right: 15px;
          }

          &:hover {
            @extend %activeLink;
          }
        }
      }
    }
  }
  .your-manager {
    border-top: 1px solid $black;
    padding: 30px 18px 0;

    h6 {
    text-transform: uppercase;
    font: $fontMedium;
    font-size: $fontSize;
    color: $darkGrey;
    letter-spacing: -.02em;
  }

    .manager-details {
      margin-top: 15px;

      .manager-avatar {
        position: relative;

        .avatar {
          border-radius: 50%;
        }
        .ignition {
          border-radius: 50%;
          background-color: #04ae00;
          height: 11px;
          width: 11px;
          position: absolute;
          top: 0%;
          left: 77%;
        }
      }
      a {
        color: $blue;
        margin-left: 10px;
        font-weight: $fontLight;

      }
    }
  }
}


// content
.content-wrapper{
  padding: 18px;
  height: calc(100vh-62px);
  overflow-y: auto;
}

// card
.card{
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header{
    border-bottom: 1px solid $lightGrey;
    padding: 18px;
  }
  .card-date{
    padding: 30px 0;
    border-bottom: 1px solid $lightGrey;
  }
  .card-form{
    .select-group{
      padding: 18px;
    }
    .input-group{
      label{
        display: block;
      }
      input{
        width: 100%;
      }

    }
  }
}

.datepicker-form{

  .date-input-wrap{
    padding: 5px 0;
    display: inline-block;
    border: 1px solid $lightGrey;
    border-radius: 3px;
    color: $black;
    vertical-align: middle;
    margin-right: 12px;

    input{
      padding: 11px 16px;
      vertical-align: middle;

      &#to{
        border-left: 1px solid $lightGrey;
      }
    }
    label{
      padding: 0 14px 0 10px;
      vertical-align: middle;
      display: inline-block;
    }
  }

  .btn{
    vertical-align: middle;
  }
}

// dropdown
#header .dropdown-menu{
  display: none;
  position: absolute;
  padding: 10px 18px 24px;
  background-color: $xsLightGrey;
  top: 100%;
  left: 0;
  right: 0;
  cursor: auto;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  li{
    padding-top: 15px;
    font-size: $dropboxFontSize;

    a{
      display: block;

      span{
        color: $black;
        margin: 0;
        font-weight: $fontBold;
        float: right;
      }
    }
  }
}


.links{

  .btn{
    margin: 20px auto;
  }
}

.links{

  .table{
    td{
      font-size: $tableLinksFontSize;
      a{
        color: $blue;
      }
    }
    td:last-child{
        text-align: right;
    }

    i{
      padding-right: 25px;
    }
    &:last-child{
      padding-right: 8px;
    }
  }
}

.card-body{
  padding: 0 15px;

  .table{

    .filter{
      display: inline-block;
      padding: 10px;
      margin: 40px 0 20px 5px;
      float: left;

      &:hover{
        background-color: $lightGrey;
        color: $black;
        cursor: pointer;

        i{
          opacity: 1;
        }
      }

      i{
        padding-left: 10px;
        font-size: 8px;
        opacity: 0;
      }
    }
  }
}

.modal{
  background-color: $modalBg;
  display: none;

  &#links{
    width: 70%;
    min-height: 100px;
  }
}
// pagination
.pagination{
  margin: 25px auto;
  display: inline-flex;

  li{
    text-align: center;
    width: $paginationWidth;
    height: $paginationHeight;
    font-size: $tableLinksFontSize;
    font-weight: $paginationFontWeight;
    color: $paginationFontColor;

    &.active{
      background-color: $paginationActiveBG;
      font-weight: $paginationActiveFontWeight;
      color: $paginationActiveFontColor;
      border-radius: $pagintaionBorderRadius;
    }

    a{
      line-height: 40px;
    }


    &:hover{
      cursor: pointer;
    }

    &:last-child{
      color: $paginationArrowColor;
      margin-left: 10px;
    }
    &:first-child {
      color: $paginationArrowColor;
      margin-right: 10px;
    }
  }
}