// title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontMedium;
}
.page-title{
  @extend %title;
  text-transform: uppercase;
}
.section-title{
  @extend %title;
}

// container
.container{
  margin: 0 auto;

  &.sm{
    max-width: 684px;
  }
}

// table
.table{
  font-size: $tableFontSize;
  border-collapse: collapse;

  tbody{
    tr{
      transition: all .2s linear;

      &:hover{
        background-color: $tableTrHover;
        .hide-icons{
          opacity: 1;
        }
      }
      &:last-child{
        border-bottom: 1px solid $lightGrey;
      }
    }
  }

  td{
    padding: 18px;
    border-top: 1px solid $lightGrey;


    .hide-icons{
      opacity: 0;
      transition: all .2s linear;
    }
  }
}

// buttons
.btn{
  padding: 10px 20px;
  border: none;
  font-weight: $fontLight;
  font-size: 18px;
  border-radius: 2px;
}
.btn.btn-default {
  background-color: $darkGrey;
  color: #fff;

  &:hover{
    background-color: $grey;
  }
}
.btn.btn-action {
  background-color: $orange;
  color: #fff;

  &:hover{
    background-color: $orangeLight;
  }
}
.btn.btn-disable {
  background-color: $lightGrey;
  color: #fff;
}

// inputs
.form-control{
  padding: 20px;
  height: 123px;
  border-radius: 2px;
  border-color: $lightGrey;
  font-family: $fontFamily;
  font-size: 12px;
  font-weight: $fontLight;
  color: $grey;
  box-shadow: none;

  &:focus{
    border-color: #bfbebe;
    box-shadow: none;
  }
}

// header
#header{
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  background-color: $headerBg;

  .user-control{
    padding: $headerPadding;
    border-left: 1px solid $lightGrey;
    font-weight: $fontRegular;
    font-size: 20px;
    color: $darkGrey;
    position: relative;

    &.open{
      background-color: $xsLightGrey;

      .icon-arrow-down{
        display: inline-block;
        transform: rotate(180deg);
        line-height: 0;
      }
    }

    &:hover{
      background: $xsLightGrey;
    }

    span{
      margin: 0 20px 0 15px;
    }

    .icon-arrow-down{
      font-size: 12px;
    }
  }
  .notification{
    position: relative;
    //padding: $headerPadding;
    border-left: 1px solid $lightGrey;
    color: $darkGrey;

    a{
      display: block;
      padding: $headerPadding;
    }

    &:hover{
      background: $xsLightGrey;
    }

    .icon-notification{
      font-size: 20px;
    }
    .indicator{
      border-radius: 50%;
      background-color: $orange;
      height: 8px;
      width: 8px;
      position: absolute;
      top: 26%;
      left: 51%;
    }
  }
  .user-account{
    //padding: $headerPadding;
    border-left: 1px solid $lightGrey;
    color: $darkGrey;

    .icon-profile{
      font-size: 20px;
      vertical-align: middle;
    }

    a{
      display: block;
      padding: $headerPadding;
    }

    &:hover{
      background: $xsLightGrey;
    }

    .user-name{
      margin-left: 18px;
      color: $blue;
      font-size: 13px;
      font-weight: $fontLight;
      height: auto;
      line-height: 20px;
    }
  }
  .exit-account{
    //padding: $headerPadding;
    border-left: 1px solid $lightGrey;
    color: $darkGrey;

    a{
      display: block;
      padding: $headerPadding;
    }

    &:hover{
      background: $xsLightGrey;
    }

    .icon-quit{
      font-size: 20px;
    }
  }
}

// aside
%activeLink{
  border-left-color: $orange;
  background-color: $activeLinkBg;
  color: $activeLinkColor;
}
#aside{
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;

  .menu-control{
    padding: 18px;

    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }
  }
  .aside-menu{
    ul{
      li{
        color: $darkGrey;

        &.active{
          a{
            @extend %activeLink
          }
        }

        a{
          display: block;
          padding: 14px;
          border-left: 4px solid transparent;

          [class*='icon-']{
            font-size: 17px;
            margin-right: 15px;
          }

          &:hover{
            @extend %activeLink;
          }
        }
      }
    }
  }
  .your-manager{
    border-top: 1px solid $black;
    padding: 30px 18px 0;

    h6{
      text-transform: uppercase;
      font: $fontMedium;
      font-size: $fontSize;
      color: $darkGrey;
      letter-spacing: -.02em;
    }

    .manager-details{
      margin-top: 20px;
      position: relative;

      .avatar{
        border-radius: 50%;
      }
      .ignition{
        border-radius: 50%;
        background-color: #04ae00;
        height: 11px;
        width: 11px;
        position: absolute;
        top: 0%;
        left: 22%;
      }
      a{
        color: $blue;
        margin-left: 10px;
        line-height: 43px;
        font-weight: $fontLight;
      }
    }
  }
}

// content
.content-wrapper{
  padding: 18px;
  height: calc(100vh-62px);
  overflow-y: auto;
}

// card
.card{
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header{
    border-bottom: 1px solid $lightGrey;
    padding: 18px;
  }
  .card-date{
    padding: 30px 0;
    border-bottom: 1px solid $lightGrey;
  }
}

.datepicker-form{

  .date-input-wrap{
    padding: 5px 0;
    display: inline-block;
    border: 1px solid $lightGrey;
    border-radius: 3px;
    color: $black;
    vertical-align: middle;
    margin-right: 12px;

    input{
      padding: 11px 16px;
      vertical-align: middle;

      &#to{
        border-left: 1px solid $lightGrey;
      }
    }
    label{
      padding: 0 14px 0 10px;
      vertical-align: middle;
      display: inline-block;
    }
  }

  .btn{
    vertical-align: middle;
  }
}

// dropdown
.dropdown-menu{
  display: none;
  position: absolute;
  padding: 10px 18px 24px;
  background-color: $xsLightGrey;
  top: 100%;
  left: 0;
  right: 0;

}

// links
.links{

  .btn{
    margin: 20px auto;
  }
}

.links{

  .table{
    td{
      a{
        color: $blue;
      }
    }
    td:last-child{
        text-align: right;
    }

    i{
      padding-right: 25px;
    }
    &:last-child{
      padding-right: 8px;
    }
  }
}

// payout
.payout{

  .table{

    tbody{

      td{
        padding-left: 35px;
      }
    }

    .filter{
      display: inline-block;
      padding: 10px;
      margin: 40px 0 20px 25px;
      float: left;

      &:hover{
        background-color: $lightGrey;
        color: $black;

        i{
          display: inline;
        }
      }

      i{
        padding-left: 10px;
        font-size: 8px;
        display: none;
      }
    }
  }
}

