// title
%title{
  color: $titleColor;
  font-size: $titleFontSize;
  font-weight: $fontMedium;
}
.page-title{
  @extend %title;
  text-transform: uppercase;
}
.section-title{
  @extend %title;
}

// header
#header{
  width: 100%;
  border-bottom: 1px solid $lightGrey;
  background-color: $headerBg;

  .user-control{
    //padding: $headerPadding;
    border-left: 1px solid $lightGrey;
    font-weight: $fontRegular;
    font-size: 20px;
    color: $darkGrey;

    a{
      display: block;
      padding: $headerPadding;
    }

    &:hover{
      background: $xsLightGrey;
    }

    span{
      margin: 0 20px 0 15px;
    }

    .icon-arrow-down-small{
      font-size: 12px;
    }
  }
  .notification{
    position: relative;
    //padding: $headerPadding;
    border-left: 1px solid $lightGrey;
    color: $darkGrey;

    a{
      display: block;
      padding: $headerPadding;
    }

    &:hover{
      background: $xsLightGrey;
    }

    .icon-notification{
      font-size: 20px;
    }
    .indicator{
      position: absolute;
      top: 26%;
      left: 51%;
    }
  }
  .user-account{
    //padding: $headerPadding;
    border-left: 1px solid $lightGrey;
    color: $darkGrey;

    .icon-profile{
      font-size: 20px;
    }

    a{
      display: block;
      padding: $headerPadding;
    }

    &:hover{
      background: $xsLightGrey;
    }

    a span{
      margin-left: 18px;
      color: $blue;
      font-size: 13px;
      font-weight: $fontLight;
    }
  }
  .exit-account{
    //padding: $headerPadding;
    border-left: 1px solid $lightGrey;
    color: $darkGrey;

    a{
      display: block;
      padding: $headerPadding;
    }

    &:hover{
      background: $xsLightGrey;
    }

    .icon-quit{
      font-size: 20px;
    }
  }
}

// aside
%activeLink{
  border-left-color: $orange;
  background-color: $activeLinkBg;
  color: $activeLinkColor;
}
#aside{
  background-color: $asideBg;
  width: $asideWidth;
  height: 100vh;
  left: 0;
  z-index: 100;

  .menu-control{
    padding: 18px;

    .menu-btn{
      cursor: pointer;

      span{
        display: block;
        width: 18px;
        height: 2px;
        background-color: $darkGrey;

        & + span{
          margin-top: 5px;
        }
      }
    }
  }
  .aside-menu{
    ul{
      li{
        color: $darkGrey;

        &.active{
          a{
            @extend %activeLink
          }
        }

        a{
          display: block;
          padding: 14px;
          border-left: 4px solid transparent;

          [class*='icon-']{
            font-size: 17px;
            margin-right: 15px;
          }

          &:hover{
            @extend %activeLink;
          }
        }
      }
    }
  }
  .your-manager{
    border-top: 1px solid $black;
    padding: 30px 18px 0;

    h6{
      text-transform: uppercase;
      font: $fontMedium;
      font-size: $fontSize;
      color: $darkGrey;
      letter-spacing: -.02em;
    }

    .manager-details{
      margin-top: 20px;
      position: relative;

      .avatar{
        border-radius: 50%;
      }
      .ignition{
        position: absolute;
        top: 0%;
        left: 22%;
      }
      a{
        color: $blue;
        margin-left: 10px;
        line-height: 43px;
        font-weight: $fontLight;
      }
    }
  }
}

// content
.content-wrapper{
  padding: 18px;
  height: calc(100vh-62px);
  overflow-y: auto;
}

// card
.card{
  background-color: $cardBg;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);

  .card-header{
    border-bottom: 1px solid $lightGrey;
    padding: 18px;
  }
}