// Font
$fontFamily: 'Roboto', sans-serif;
$fontLight: 300;
$fontRegular: 400;
$fontMedium: 500;
$fontBold: 700;
$lineHeight: 1;
$fontSize: 14px;

// Color
$black: #333;
$darkGrey: #979797;
$grey: #bababa;
$lightGrey: #e3e3e3;
$xsLightGrey: #f5f5f5;
$orange: #f58220;
$orangeLight: #ffa200;
$green: #04ae00;
$lightGreen: #74b67a;
$xsLightGreen: #96cc9b;
$red: #ff0000;
$pink: #de5252;
$lightPink: #ec7171;
$blue: #56819f;

// header
$headerBg: #fff;

// aside
$asideBg: #191919;
$asideWidth: 188px;
$activeLinkColor: #fff;
$activeLinkBg: #282828;

// card
$cardBg: #fff;

// title
$titleColor: #a6a6a6;
$titleFontSize: 16px;
$smallTitle: 14px;